@import url('./assets/fonts/fonts.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style-type: none;
  text-decoration: none;
  border-radius: none;
  outline: none;
  border: none;
}

:root {
  --body: #ECF3FB;
  --dark: #000;
  --link: #333;
  --black: #171717;
  --blue: #1749B3;
  --lightBlue: #4B84FD;
  --white: #fff;
  --youtubebg: #E1DCEB;
  --boxShadow: rgba(213, 216, 221, 0.2);
  --listShadow: rgba(177, 177, 177, 0.4);
}

body {
  font-family: 'GothamPro',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  padding: 80px 0 120px 0;
}